@font-face {
  font-family: 'Product-sans';
  src: url('fonts/Product\ Sans\ Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Product-sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color: palegreen;
}