@font-face {
  font-family: 'Product-sans';
  src: url('fonts/Product\ Sans\ Regular.ttf');
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color: palegreen;
}

/* TOP SECTION */

#top {
  border-bottom: 1px solid #dadce0;
  padding-left: 2vw;
}

#logoAndSearch {
  display: flex;
  margin: 25px 15px 14px 15px;
}

#logo {
  width: 7rem;
}

#searchBar {
  display: flex;
  justify-content: space-between;
  width: min(45vw, 690px);
  height: 46px;
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  margin-left: 40px;
}

#searchBar:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
  border-color: rgba(223, 225, 229, 0);
}

#searchContainer {
  display: flex;
  margin-left: 10px;
  flex: 1;
}

#search,
#beforeSearch {
  font-size: 14px;
  border: none;
  border-radius: 24px;
}


#search {
  flex: 1;
}

#search:focus-visible {
  outline: none;
}

#beforeSearch {
  width: 5rem;
  color: black;
}

#btnContainer {
  display: flex;
  align-items: center;
}

#searchBtn {
  width: 50px;
  height: 30px
}

#xBtn,
#searchBtn,
#btnBorder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#xIcon,
#searchIcon {
  max-width: 45%;
  cursor: pointer;
}

#btnBorder {
  border-left: 1px solid #dadce0;
  height: 65%;
}


#resultsAndTime,
#Navbar {
  font-family: 'Product-sans', Arial, Helvetica, sans-serif;
}

/* NAV BAR */
#Navbar {
  display: flex;
  gap: 6px;
  margin: 0 0 16px 170px;

}

@media only screen and (max-width: 1280px) {
  #top {
    padding-left: 5vw;
  }

  #Navbar {
    margin-left: 15px;
  }
}

.navbarLinkContainer {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #dadce0;
  width: fit-content;
  height: 40px;
  padding: 0px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLinkContainer:hover {
  background-color: #f1f3f4;
}

.navbarLink {
  color: #202124;
  text-decoration: none;
  font-size: 14px;
}

#resultsAndTime {
  color: #70757a;
  margin: 10px 0 0 210px;
  font-size: 14px;
}

@media only screen and (max-width: 1280px) {
  #resultsAndTime {
    margin-left: 60px;
  }
}